html, body, #container {
    width: 100%;
    height: 100%;
}

.navbar-fixed {
    float: left;
    z-index: 999;
}

.brand-logo {
    margin-left: 15px;
    font-family: 'Economica';
}

#map-row {
    margin-bottom: 0px;
    height: 100%;
    padding-top: 64px;
}

#map {
    height: 100%;
}

#loading-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: rgba(0,0,0,0.2);
}

#loading-spinner .preloader-wrapper {
    margin: 0 auto 0 auto;
}

#cards {
    position: absolute;
    top: 75px;
    right: 0px;
    width: 20%;
    min-width: 400px;
    overflow-y: auto;
}

.card-content {
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

#new-tweets {
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 997;
}